<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>
    <h1 >Message Page</h1>
    <h2 th:text="${WelcomeMessage}">Welcome</h2>
    <form action="#" th:action="@{/msg}" th:object="${newMessage}" method="POST">
        <p>Nom</p>
        <input type="text" th:field="*{sender}" placeholder="Nom">
        <p>Mail</p>
        <input type="text" th:field="*{Mail}" placeholder="Email">
        <p>Age</p>
        <input type="number" th:field="*{Age}" placeholder="Age"><br>
        <p th:if="${#fields.hasErrors('Age')}" th:errors="*{Age}">L'âge légal est requis</p>
        <p>Message</p>
        <input type="text" th:field="*{Message}" placeholder="Votre message"><br>
        <input type="submit" value="Afficher">
    </form>

    <div th:if="${successMessage}" class="success-message">
        <p th:text="${successMessage}"></p>
    </div>
    

    <div th:each="msg : ${msgList}">
        <p th:text="${msg.sender}"></p>
        <p th:text="${msg.Mail}"></p>
        <p th:text="${msg.Age}"></p>
        <p th:text="${msg.Message}"></p>
        
    </div>
</body>
</html>