<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register form</title>
</head>
<body>
    <main>
        <form action="/register" method="post" class="formulaire">
            <label class="formulaire__label" for="username">Saisir un nom d'utilisateur</label>
            <input th:field="*{user.username}" type="text">
            <label class="formulaire__label" for="password" >Veuillez saisir un mot de pass</label>
            <input th:field="*{user.password}" type="password">
            <label class="formulaire__label" for="password" >Confirmez votre mot de passe</label>
            <input th:field="*{user.password}" type="password">
            <button type="submit">Sign up</button>
            <span><a th:href="@{/login}">-> Log in <- </a></span>
        </form>
    </main>
</body>
</html>