<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Welcome tou our website, make your choice...</h1>
        <nav class="navbar">
            <ul>
                <li class="navbar__button"><a th:href="@{/login}">Log in</a></li>
                <li class="navbar__button"><a th:href="@{/auth}">Sign in</a></li>
                
            </ul>
        </nav>
    </header>
</body>
</html>