<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Welcome tou our website, make your choice...</h1>
        <nav class="navbar">
            <ul>
                <li class="navbar__button"><button type="button">Sign in.</button></li>
                <li class="navbar__button"><button class="" type="button">Log in.</button></li>
            </ul>
        </nav>
    </header>
</body>
</html>