<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register form</title>
</head>
<body>
    <main>
        <form action="/register" class="formulaire">
            <label class="formulaire__label" for="name">Renseignez votre nom d'utilisateur</label>
            <input type="text">
            <label class="formulaire__label" for="password" >Renseignez votre nom d'utilisateur</label>
            <input type="password">
        </form>
    </main>
</body>
</html>