<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste de personnes</title>
</head>
<body>
    <h1>Liste des Personnes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${person}">
                <td th:text="${p.id}">ID</td>
                <td th:text="${p.name}">Nom</td>
                <td th:text="${p.age}">Age</td>

                <td> 
                    <a th:href="@{/delete/{id}(id=${p.id})}" onclick="return confirm('Confirmez-vous la suppression ?')">Supprimer</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>